<% content_for :script do %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<% end %>

<div class="container w-50">
  <div class="card mb-3 w-100">
    <h5 class="card-header"><%= t(".edit_profile") %></h5>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field form-group">
          <%= f.label t("devise.email") %><br />
          <%= f.email_field :email, class: 'form-control', autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field form-group">
          <%= f.label t("devise.password") %> <i>(<%= t(".leave_blank") %>)</i><br />
          <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> <%= t("devise.chars_min") %></em>
          <% end %>
        </div>

        <div class="field form-group">
          <%= f.label t("devise.password_confirm") %><br />
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
        </div>

        <div class="field form-group">
          <%= f.label t(".password_current") %> <em>(<%= t(".we_need_your_password") %>)</em><br />
          <%= f.password_field :current_password, class: 'form-control', autocomplete: "current-password" %>
        </div>

        <div class="mb-3">
          <%= f.label t("locale") %>
          <%= f.select :locale, options_for_select(I18n.available_locales), {}, { class: 'form-select form-select-sm w-25' } %>
        </div>

        <div class="actions">
          <%= f.submit t(".update"), class: 'btn btn-secondary mt-2' %>
        </div>

      <% end %>
      
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#confirm_action">
        <%= t(".delete") %>
      </button>
      
    </div>
  </div>
  <%= link_to t("back"), :back %>
</div>



<!-- Modal -->
<div class="modal fade" id="confirm_action" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"><%= t("r_u_sure") %></h5>
        <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= t(".acc_will_be_deleted") %>
      </div>
      <div class="modal-footer">
        <%= button_to t(".delete"), registration_path(resource_name), method: :delete, class: 'btn btn-danger' %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t("close") %></button>
      </div>
    </div>
  </div>
</div>