<%= form_with model: resource, as: resource_name, url: session_path(resource_name) do |f| %>
  <div class="field">
    <%= f.email_field :email, class: 'form-control', placeholder: t("devise.ur_email"), autofocus: true, autocomplete: "email" %>
  </div>
  <br />
  <div class="field">
    <%= f.password_field :password, class: 'form-control', placeholder: t("devise.password"), autocomplete: "current-password" %>
  </div>

  <input id="word_memorizer" type="hidden" name="current_word" value="" />
  <input id="pos_memorizer" type="hidden" name="current_pos" value="" />

  <% if devise_mapping.rememberable? %>
    <div class="field mt-2">
      <%= f.check_box :remember_me, class: 'form-check-input' %>
      <%= f.label t("devise.remember_me") %>
    </div>
  <% end %>

  <div class="actions mt-2">
    <%= f.submit t("devise.log_in"), class: 'btn btn-secondary' %>
  </div>
<% end %>