
<nav class="navbar navbar-light" style="background-color: #80a0ff;">
  <div class="container-fluid">

    
      <span class="nav-item">
            <%= link_to 'Home', root_path, local: false %>
      </span>
    <% if user_signed_in? %>
      <span class="nav-item">
            <%= link_to 'Learn', get_random_card %>
      </span>
      <span class="nav-item dropdown ms-auto dropstart">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= current_user&.email %>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="<%= edit_user_registration_path %>">Профиль</a></li>
          <li><a class="dropdown-item" href="<%= cards_path %>">Мои карточки</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
        </ul>
      </span>
      
    <% else %>
      <span class="nav-item ms-auto">
          <a class="nav-link" href="<%= new_user_session_path %>">Войти</a>
      </span>
      <span class="nav-item ms-auto">
          <a class="nav-link" href="<%= new_user_registration_path %>">Sign Up</a>
      </span>
    <% end %>
  </div>
  
</nav>