
<nav class="navbar navbar-light" style="background-color: #80a0ff;">
  <div class="container-fluid">

    <% if current_user %>
      <span class="nav-item">
            <a class="nav-link" href="<%= %>">Посчитать</a>
      </span>
      <span class="nav-item dropdown ms-auto dropstart">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= current_user&.email %>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="<%=  %>">Профиль</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        </ul>
      </span>
    <% else %>
      <span class="nav-item ms-auto">
          <a class="nav-link" href="<%= new_user_session_path %>">Войти</a>
      </span>
    <% end %>
  </div>
  
</nav>