<p id="notice"><%= notice %></p>

<p>
  <strong>Phrase:</strong>
  <%= @word.phrase %>
</p>

<p>
  <strong>Groups:</strong>
  <%= @word.groups %>
</p>

<p>
  <strong>API:</strong>
  <%= @word_api %>
</p>

<%= link_to 'Back', words_path %>
