<h1>Advanced Search</h1>

<%= form_with model: @search, id: :search_form, local: false, url: "#{words_path}.json", method: :get, format: :json do |f| %>
    <%= f.label :phrase %>
    <%= f.text_field :phrase %>

    <%= f.label :part_of_speech %>
    <%= f.select :part_of_speech, options_for_select(@parts_of_speech), include_blank: true %><br><br>

    <%= f.submit "Search" %>
<% end %>

<div id="table_placer">
</div>
