<h3><%= t(".my_cards") %></h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t(".word") %></th>
      <th class="hide_me"><%= t(".definition") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.word %></td>
        <td class="hide_me"><%= card.definition %></td>
        <td class="align-middle"><%= button_to t(".learn"), card, type: :button, class: "btn btn-secondary", method: :get %></td>
        <td class="align-middle"><%= button_to t(".delete"), card, type: :button, class: "btn btn-danger", method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
