<% content_for :script do %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script> <%= render partial: 'card_script', formats: [:js] %> </script>
<% end %>

<div class="card" id="my_card">
  <div class="card-header">
    Guess this word
  </div>
  <div class="card-body" id="my_card_body">
    <h5 class="card-title">What's the English for</h5>
    <p class="card-text"><%= @card.definition %></p>
  </div>

  <%= form_with model: @card, id: :card_form, local: false, url: "#{card_check_path}.json", method: :post, format: :json do |f| %>
    <div class="m-3">
        <%= f.text_field :word, value: nil, class: 'form-control w-50' %>
    </div>
    <%= f.submit 'Check', id: 'check_submit', class: 'btn btn-primary m-2' %>
    <%= f.submit "Don't remember", id: 'show_answer_submit', class: 'btn btn-warning m-2' %>
  <% end %>
</div>

<br>
<%= button_to 'Next', get_random_card, type: :button, class: "btn btn-success float-end", method: :get %>

<%= render 'shared/lost_connection' %>
